@{
    ViewData["Title"] = "İletişim";
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim</title>
    <style>
        /* Stil sayfası içerisinde sayfanın görünümünü özelleştirebilirsiniz */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .contactuscontainer {
            width: 100%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        input[type="text"],
        input[type="email"],
        textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        textarea {
            height: 150px;
        }

        input[type="submit"] {
            display: block;
            margin: 0 auto; /* Butonu yatayda ortalar */
            background-color: #4caf50;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: fit-content; /* Buton genişliğini içeriğe uygun olarak ayarlar */
        }


            input[type="submit"]:hover {
                background-color: #45a049;
            }
    </style>
</head>
<body>

    <div class="contactuscontainer">
        <h2>İletişim Formu</h2>
        <form action="submit_action_page.php" method="post">
            <label for="name">Adınız:</label>
            <input type="text" id="name" name="name" placeholder="Adınızı girin" required>

            <label for="email">E-posta Adresiniz:</label>
            <input type="email" id="email" name="email" placeholder="E-posta adresinizi girin" required>

            <label for="message">Mesajınız:</label>
            <textarea id="message" name="message" placeholder="Mesajınızı girin" required></textarea>

            <input type="submit" value="Gönder">
        </form>
    </div>

</body>
</html>
