<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/PropertyProject.styles.css" asp-append-version="true" />
    <style>
        footer {
            background-color: #F2F2F3;
    color: white;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}

footer span {
    font-weight: bold;
}
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Property" asp-action="HomePage">E-Emlakçım</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="ForSale">Satılık</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="ForRent">Kiralık</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="PropertyNews">Emlak Haberleri</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="AboutUs">Hakkımızda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Property" asp-action="ContactUs">İletişim</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <p>E-Emlakcım <span>&copy;</span> 2006-2024</p>
        <p>
            Bu sitesindeki tüm ilanlar, bilgiler, içerikler ve görselller, kullanıcılar tarafından sağlanmıştır. Kullanıcıların gerçekliği, orijinaliği, güvenilirliği ve doğruluğuna ilişkin sorumluluk kullanıcılara ait olup, E-Emlakcı.com bu konuda herhangi bir sorumluluğu bulunmamaktadır.
        </p>
        <p>E-Emlakcı bir iLab grubu şirketidir.</p>
        <p>
            kariyer.net sigortam.net arabam.com HangiKredi cimri neredekal.com SteelOrbis CONNECTING MARKETS ChemOrbis endeksa
        </p>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
